body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url("./images/pennywise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    border-radius: 30px;
    box-shadow: 20px 20px 20px grey;
    height: 800px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
}



.banner h1 {
    color: brown;
    padding: 20px;
    margin-top: 300px;
    margin-bottom: auto;
    font-size: 70px;
    transition-duration: 500ms;
    margin-left: 800px;
}

.SEARCHLOCATION {
    margin-bottom: 90px;
}

.content-title2 {
    font-size: 50px;
}

@import url("https://fonts.googleapis.com/css?family=Hina+Mincho:400");


.posters-1 {
    text-align: center;
    font-size: 50px;
    align-items: center;
    background-color: rgb(53, 1, 11);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    width: 100%;
    color: azure;
    text-align: center;
}

.MagicScroll {
    background-color: black;
    border-style: solid;
	border-width: 1 px;
	padding: 300px;
	margin: 20 px;
	flex: 0 0 300px;
    display: grid;
}

.display-4 {
    border-style: solid;
	border-width: 1 px;
	padding: 80px;
	margin: 20 px;
	flex: 0 0 300px;
}

.slideshow-container {
    display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% - (1.5rem * 2)) / 3);
	grid-gap: 1.5rem;
    overflow-x: hidden;
	max-width: 760px;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: 90px;
    font-weight: bold;
}

img {
    width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 5rem;
}