body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url("/projectAvengers/images/pennywise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    border-radius: 30px;
    box-shadow: 20px 20px 20px grey;
    height: 800px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    margin: 0;
    position: absolute;
    top: 24%; 
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-right: -300;
}

.banner h1 {
    color: brown;
    padding: 20px;
    margin-top: 300px;
    margin-bottom: auto;
    font-size: 70px;
    transition-duration: 500ms;
    margin-left: 800px;
}

.banner form {
    padding: 20px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
}   

.navBar a {
    position: relative;
    font-size: 50px;
    color: rgb(170, 15, 46);
    font-weight: bold;
    transition-duration: 500ms;


}   

.navBar a:hover {
   
    text-shadow: 0 0 15px #fceb04;
}

.banner h1:hover {
    text-shadow: 0 0 15px #ffee10;
   
}

@import url("https://fonts.googleapis.com/css?family=Hina+Mincho:400");

.desktop-1 {
    align-items: center;
    background-color: rgb(53, 1, 11);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    width: 100%;
    color: azure;
    text-align: center;
    font-size: 50px;
}

.posters-1 {
    text-align: center;
    font-size: 50px;
    align-items: center;
    background-color: rgb(53, 1, 11);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    width: 100%;
    color: azure;
    text-align: center;
}

.MagicScroll {
    background-color: black;
    border-style: solid;
	border-width: 1 px;
	padding: 300px;
	margin: 20 px;
	flex: 0 0 300px;
    display: grid;
}

.display-4 {
    border-style: solid;
	border-width: 1 px;
	padding: 80px;
	margin: 20 px;
	flex: 0 0 300px;
}

.slideshow-container {
    display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% - (1.5rem * 2)) / 3);
	grid-gap: 1.5rem;
    overflow-x: hidden;
	max-width: 760px;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: 40px;
    font-weight: bold;
}

img {
    width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 5rem;
}